<div class="container mt-5">
  <div style="text-align: center;">
    <h1>Home page</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi illum dignissimos voluptas molestias explicabo nemo odit atque est minus consequuntur corporis dolorem enim inventore modi voluptatum, ipsam nulla laudantium officia.</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg me-3">ASD</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ipsam laudantium, et sit sed eos pariatur, quaerat saepe, placeat natus eum expedita laborum illo! Quisquam atque similique facere a delectus.</p>
      </div>
    </div>
  </div> -->
</div>
